mixin pagination
	.page__pagination
		ul.pagination__list(data-wall-section-nav)
			li.pagination__item: a.active(href="#first")
			li.pagination__item: a(href="#guarantees")
			li.pagination__item: a(href="#services")
			li.pagination__item: a(href="#steps")
			li.pagination__item: a(href="#calculator")
			li.pagination__item: a(href="#works")
			li.pagination__item: a(href="#order")
			li.pagination__item: a(href="#contacts")
						