mixin nav
  nav.navigation
    ul.navigation__list
      li.navigation__item Ремонт квартир в Воронеже
      li.navigation__item.navigation__item--phone
        .navigation__link-wrap
          a.navigation__link(href="tel:#") 8 473 500-20-20   
          a.navigation__link(href="tel:#") +7 909 123-00-33   
        .navigation__text-small бесплатно, без выходных
      li.navigation__item 
        .navigation__text г. Воронеж, ул. Свободы, 8      
        .navigation__text-small пн-пт с 9:00 до 19:00 