mixin footer
	footer.footer
		.container
			.footer__wrap
				.footer__logo 
					a(href="#").logo.logobtn
						.logo__icon
							+svg("tool")
						.logo__name ремонтно-строительная компания		
				.footer__info
					.footer__block Ремонт квартир в Воронеже
					.footer__block
						a.footer__phone(href="tel:#") 8 473 500-20-20
						.footer__text г. Воронеж, ул. Свободы, 8      
					.footer__block &copy; 2019 All Rights Reserved Privacy Policy