mixin header
	header.header
		.container.header__wrap.wow.fadeInDown(data-wow-duration="1s" data-wow-offset="0")
			a(href="#").logo.logobtn
				.logo__icon
					+svg("tool")
				.logo__name ремонтно-строительная компания			
			+nav            
			+burger            